
*, ::after, ::before {
    box-sizing: border-box;
}
// -------color variable------ //
$heading-color:#0C090D;
$dark-gray:#545353;
$light-gray: #BDB6B6;
$placeholder:#9D9D9D;
$gray-bg: #F7FAFC;
$white-bg: #fff;
$white: #fff;
$border-color:#DCDCDC;
$primary: #04A396;
$dark-green: #2A9D8F;
$red:#F15946;
$yellow: #F9C22E;

body{
    font-family: 'Open Sans', sans-serif;
    font-size: calc(0.6rem + 0.4vw);
}
a{
    color: $primary;
}
ul, ol{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    color: $heading-color;
    font-weight: 700;
    margin-bottom: 1rem;
}
h1{
    font-size:calc( 2.5rem + 0.9vw);
}
h2{
    font-size:calc( 1.525rem + 0.9vw);
}
h3{
    font-size: 20px;
}
.form-label,
label{
    color: $dark-gray;
    font-size: 0.875rem;
}
.bttn{
    background-color: $white;
    color: $dark-gray;
    box-shadow: 0 1px 6px 0 rgba(192, 186, 186, 0.36);
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
    padding: 0.825rem 1.625rem;
    font-size: 1rem;
}

// -------color------//
.yellow{
    color: #F9C22E;
}
.gray{
    color: #545353;
}
.light-gray{
    color: #BDB6B6;
}
.red{
    color: #F15946;
}
.primary{
    color: #04A396;
}

// -----bg-color-----//
.gray-bg{
    background-color: $gray-bg;
}
.white-bg{
    background-color: $white-bg;
}
.light-yellow-bg{
    background-color: rgba(249, 194, 46, 0.10);
}
.light-green-bg{
    background-color: rgba(153, 225, 217, 0.41);
}
.light-red-bg{
    background-color: rgba(241, 89, 70, 0.10);
}
// -------border-radius------//
$border-radius: 0.375rem;
$border-radius-4:0.25rem;
$border-radius-100:100%;

$position-relative: relative;
$position-absolute: absolute;

// ------flex variable------//
$flex: flex;
$flex-wrap:wrap;
$flex-nowrap:nowrap;
$align-items-center:center;
$justify-content-center: center;
$justify-content-between: space-between;
$justify-content-around: space-around;
$justify-content-evenly: space-evenly;
$justify-content-start: start;
$justify-content-end: end;
$align-items-center:center;
$align-items-start:flex-start;
$align-items-end:flex-end;
$flex-direction-row:row;
$flex-direction-row-reverse:row-reverse;
$flex-direction-col:column;
$flex-direction-col-reverse:column-reverse;

// ------padding-----//
.pdy-3{
    padding: 3rem 0;
}
.pdy-4{
    padding: 4rem 0;
}
.pdy-6{
    padding: 6rem 0;
}
.p-0{
    padding: 0;
}
.px-0{
    padding-left: 0;
    padding-right: 0;
}
.py-0{
    padding-top: 0;
    padding-bottom: 0;
}
.pt-0{
    padding-top: 0;
}
.pb-0{
    padding-bottom: 0;
}


// ------container-----//
.container{
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
@media only screen and (min-width:1400px){
    .container{
        max-width: 1320px;
    }
  
}
@media only screen and (max-width:1399px){
    .container{
        max-width: 1140px;
    }
  
}
@media only screen and (max-width:992px){
    .container{
        max-width: 960px;
    }
  
}
@media only screen and (max-width:768px){
    .container{
        max-width: 720px;
    }
  
}
@media only screen and (max-width:576px){
    .container{
        max-width: 540px;
    }
  
}
@media only screen and (max-width:575px){
    .container{
        max-width: 100%;
    }
  
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: $white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.875rem 3rem;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0.25rem;
    letter-spacing: 0.36px;
    font-family: 'Montserrat', sans-serif;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.submit-btn{
    background-color: #4F4F4F;
    &:hover{
        background-color: $primary;
    }
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.875rem 0.95rem;
    margin: 1.5rem 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $dark-gray;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $border-color;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    font-family: 'Montserrat', sans-serif;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover{
        box-shadow: 0px 2px 14px 5px rgba(0, 0, 0, 0.10);
    }
    &::placeholder{
        color: rgba(84, 83, 83, 0.48);
    }
}


// ------ header navbar start-----//
.navbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: $heading-color;
    height: 90px;
    padding: 1em 0;
  }
  
  .logo img{
    width: 150px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 2rem;
  }
  .menu > li:last-child {
   margin-right: 0;
  }
  .menu li a {
    font-size: 17px;
    color: $heading-color;
    letter-spacing: 0.34px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }
  .menu li a:hover {
    color: $primary;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: $heading-color;
    position: absolute;
    height: 2px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 25px;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      background-color: $white;
      z-index: 9;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border-bottom: 1px solid $border-color;
      height: 4.5em;
      line-height: 4.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu li a {
        font-size: 17px;
        color: $heading-color;
        letter-spacing: 0.34px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        opacity: 0;
      }
    #menu-toggle:checked ~ .menu li a{
        opacity: 1;
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
    }
  }

  .sticky-header {
    position: fixed;
    background-color: $white;
    top: 0;
    width: 100%;
    z-index: 9;
    border-bottom: 1px solid $border-color;
}
  // ------ header navbar end-----//


// ------ home-banner start-----//
.home-banner-wrap {
    position: $position-relative;
    .banner-content {
        padding: 20px;
        position: $position-absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        z-index: 1;
        .banner-title{
            color: $white;
        }
        .banner-desc{
            font-size: 18px;
            color: #fff;
            font-weight: 300;
            line-height: 1.8;
            letter-spacing: 0.48px;
        }
    }
}
.home-banner-wrap:after {
    content: "";
    background-color: $heading-color;
    opacity: 0.7;
    position: $position-absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-banner-wrap img {
    object-fit: cover;
    height: calc(100vh - 90px);
}
.txt-type > .txt {
    border-right: 0.2rem solid $white;
  }

// ------ home-banner end-----//


// ------ about-us-section start-----//
.about-us-wrap{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    align-items: $align-items-center;

    .about-content {
        padding-left: 30%;
    }
    .image{
        position: $position-relative;
        &::before{
            content: "";
            position: absolute;
            top: -10%;
            left: -10%;
            width: 100%;
            height: 100%;
            background-image: url(../images/about-shape.png);
            background-size: cover;
            background-repeat: no-repeat;
        }
        img {
            border-radius: 6px;
            filter: drop-shadow(0px 2px 14px rgba(0, 0, 0, 0.10));
        }

    }
     
    .about-us-lists   li {
        display: $flex;
        align-items: $align-items-center;
        gap: 15px;
        margin: 25px 0;
        color: $heading-color;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.48px;
    }
}
.desc{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.48px;
    color: $dark-gray;
    margin-top: 20px;
}
.heading .desc{
    margin-top: 0;
}
// ------ about-us-section end-----//


// ------ our-services start-----//
.heading{
    margin-bottom: 50px;
}
.our-services{
    background-color: $gray-bg;
    position: $position-relative;
    z-index: 2;
    overflow-x: hidden;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 563px;
        height: 463px;
        transform: rotate(45deg);
        background-image: url(../images/services-shape.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right top;
        z-index: -1;
    }
}
.our-services-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    .single-services {
        background-color: $white;
        border-radius: 6px;
        border: 1px solid $border-color;
        padding: 2.5rem;
        text-align: center;
        transition: all 0.3s;
        &:hover{
            box-shadow: 1px 0px 30px 10px rgba(4, 163, 150, 0.15);
            transition: all 0.3s;
        }
        .icon svg{
            width: 40px;
            height: 40px;
        }
    }
    .desc{
        margin-top: 10px;
    }
    .icon {
        border-radius: 100%;
        display: inline-flex;
        padding: 20px;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
    }
}
// ------ our-services end-----//


// ------ get-in-touch start-----//
.get-in-touch{
    position: $position-relative;
    z-index: 2;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 530px;
        height: 530px;
        background-image: url(../images/contact-bg.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right top;
        z-index: -1;
    }
}

.get-in-touch-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    .contact-section{
        background-color: $gray-bg;
        padding: 30px;
        border-radius: 6px;
        display: $flex;
        flex-direction: $flex-direction-col;
        align-items: $align-items-center;
        justify-content: $justify-content-center;
        gap: 40px;
        .contact-section-wrap{
            display: $flex;
            flex-direction: $flex-direction-col;
            gap: 40px;
        }
        .contact-single {
            display: $flex;
            flex-direction: $flex-direction-col;
            gap: 15px;
            .contact-title {
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 700;
                color: $dark-gray;
            }
            .icon-wrap{
                display: $flex;
                flex-direction: $flex-direction-row;
                align-items: $align-items-center;
                gap: 10px;

               .location, a{
                    font-size: 20px;
                    color: $dark-gray;
                    font-weight: 400;
                    letter-spacing: 0.6px;
                }
                a:hover{
                    color: $primary;
                }
                svg{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
    .map-section img {
        width: 100%;
    }
}
.btn-wrap{
    text-align: right;
}

// ------ get-in-touch end-----//


// ------ footer start-----//
.footer{
    background: rgba(12, 9, 13, 0.88);
    color: $white;
    .footer-wrap{
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        gap: 30px;
    }
    .footer-desc{
        margin-top: 1.5rem;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: 0.45px;
    }
    .social-media {
        display: $flex;
        flex-direction: $flex-direction-row;
        gap: 30px;
        margin-top: 1.5rem;
        a{
            display: inline-block;
            transition: all .2s ease-in-out; 
            &:hover{
                transform:scale(1.5);
                transition: all .2s ease-in-out; 
            }
        }
    }
    .footer-menu {
        display: $flex;
        flex-direction: $flex-direction-col;
        gap: 25px;
        a{
            color: $white;
            font-size: 1rem;
            &:hover{
                color: $primary;
            }
        }
    }
    .contact-details {
        display: $flex;
        flex-direction: $flex-direction-col;
        gap: 25px;
        .contact-details-wrap {
            display: $flex;
            flex-direction: $flex-direction-col;
            gap: 10px;
            span{
                font-family: Montserrat;
                font-size: 20px;
                font-weight: 700;
            }
            a{
                color: $white;
                font-size: 1rem;
                letter-spacing: 0.4px;
                &:hover{
                    color: $primary;
                }
            }

            .icon-wrap {
                display: flex;
                flex-direction: row;
                gap: 10px;
            }
        }
    }
}

.copyright {
    text-align: center;
    margin-top: 4rem;
    span{
        display: inline-block;
        padding: 1.5rem 0;
        border-top: 0.5px solid #dcdcdc54;
        display: inline-block;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0.65px;
    }
}
// ------ footer end-----//


// ------ Responsive----//
@media only screen and (max-width: 1200px){
    .about-us-wrap .about-content {
        padding-left: 20%;
    }
}

@media only screen and (max-width: 992px){
    .pdy-6 {
        padding: 4rem 0;
    }
    // ---- about-us---//
    .about-us-wrap .about-content {
        padding-left: 10%;
    }
    .about-us-wrap {
        grid-template-columns: 1fr 1fr;
    }

    // ---- our-services---//
    .our-services-wrap {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 767px){
    .pdy-6 {
        padding: 3rem 0;
    }
    h1, h2, h3, h4, h5, h6{
        margin-bottom: 10px;
    }
    .heading {
        margin-bottom: 30px;
    }
     // ----header---//
    .navbar-wrapper{
        height: 70px;
    }
    .navbar .logo img {
        width: 110px;
    }
 
    .home-banner-wrap .banner-content {
        left: 0;
    }
    // ---- about-us---//
    .get-in-touch-wrap,
    .about-us-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
    .about-us-wrap .image img{
        width: 100%;
    }
    .about-us-wrap .about-content {
        padding-left: 0;
    }

    // ---- our-services ---//
    .about-us-wrap,
    .get-in-touch-wrap,
    .our-services-wrap{
        gap: 20px;
    }
    .our-services-wrap .single-services{
        padding: 2rem;
    }
    .our-services-wrap .single-services .icon svg {
        width: 30px;
        height: 30px;
    }
    // ---- get-in-touch ---//
    .get-in-touch-wrap .form-section {
        padding: 20px;
    }
    .get-in-touch-wrap .contact-section{
        align-items: start;
    }
     // ---- footer ---//
    .footer .footer-wrap {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }
    .copyright {
        margin-top: 3rem;
    }
    .copyright span{
        padding: 1rem 0;
    }
    .footer {
        padding-bottom: 0;
    }
} 

@media only screen and (max-width: 575px){
    .pdy-6 {
        padding: 2rem 0;
    }
    .footer {
        padding-bottom: 0;
    }
    // ---- our-services---//
    .our-services-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-services-wrap .single-services{
        padding: 1.5rem;
    }
}

