*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: calc(0.6rem + 0.4vw);
}

a {
  color: #04A396;
}

ul, ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #0C090D;
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: calc(2.5rem + 0.9vw);
}

h2 {
  font-size: calc(1.525rem + 0.9vw);
}

h3 {
  font-size: 20px;
}

.form-label,
label {
  color: #545353;
  font-size: 0.875rem;
}

.bttn {
  background-color: #fff;
  color: #545353;
  box-shadow: 0 1px 6px 0 rgba(192, 186, 186, 0.36);
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
  padding: 0.825rem 1.625rem;
  font-size: 1rem;
}

.yellow {
  color: #F9C22E;
}

.gray {
  color: #545353;
}

.light-gray {
  color: #BDB6B6;
}

.red {
  color: #F15946;
}

.primary {
  color: #04A396;
}

.gray-bg {
  background-color: #F7FAFC;
}

.white-bg {
  background-color: #fff;
}

.light-yellow-bg {
  background-color: rgba(249, 194, 46, 0.1);
}

.light-green-bg {
  background-color: rgba(153, 225, 217, 0.41);
}

.light-red-bg {
  background-color: rgba(241, 89, 70, 0.1);
}

.pdy-3 {
  padding: 3rem 0;
}

.pdy-4 {
  padding: 4rem 0;
}

.pdy-6 {
  padding: 6rem 0;
}

.p-0 {
  padding: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media only screen and (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.875rem 3rem;
  font-size: 18px;
  font-weight: 700;
  border-radius: 0.25rem;
  letter-spacing: 0.36px;
  font-family: "Montserrat", sans-serif;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submit-btn {
  background-color: #4F4F4F;
}
.submit-btn:hover {
  background-color: #04A396;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.875rem 0.95rem;
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #545353;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #DCDCDC;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  font-family: "Montserrat", sans-serif;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:hover {
  box-shadow: 0px 2px 14px 5px rgba(0, 0, 0, 0.1);
}
.form-control::-moz-placeholder {
  color: rgba(84, 83, 83, 0.48);
}
.form-control::placeholder {
  color: rgba(84, 83, 83, 0.48);
}

.navbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #0C090D;
  height: 90px;
  padding: 1em 0;
}

.logo img {
  width: 150px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 2rem;
}

.menu > li:last-child {
  margin-right: 0;
}

.menu li a {
  font-size: 17px;
  color: #0C090D;
  letter-spacing: 0.34px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.menu li a:hover {
  color: #04A396;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #0C090D;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 25px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 9;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border-bottom: 1px solid #DCDCDC;
    height: 4.5em;
    line-height: 4.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu li a {
    font-size: 17px;
    color: #0C090D;
    letter-spacing: 0.34px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    opacity: 0;
  }
  #menu-toggle:checked ~ .menu li a {
    opacity: 1;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
  }
}
.sticky-header {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid #DCDCDC;
}

.home-banner-wrap {
  position: relative;
}
.home-banner-wrap .banner-content {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.home-banner-wrap .banner-content .banner-title {
  color: #fff;
}
.home-banner-wrap .banner-content .banner-desc {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 0.48px;
}

.home-banner-wrap:after {
  content: "";
  background-color: #0C090D;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-banner-wrap img {
  -o-object-fit: cover;
     object-fit: cover;
  height: calc(100vh - 90px);
}

.txt-type > .txt {
  border-right: 0.2rem solid #fff;
}

.about-us-wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  align-items: center;
}
.about-us-wrap .about-content {
  padding-left: 30%;
}
.about-us-wrap .image {
  position: relative;
}
.about-us-wrap .image::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 100%;
  height: 100%;
  background-image: url(../images/about-shape.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.about-us-wrap .image img {
  border-radius: 6px;
  filter: drop-shadow(0px 2px 14px rgba(0, 0, 0, 0.1));
}
.about-us-wrap .about-us-lists li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 25px 0;
  color: #0C090D;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.48px;
}

.desc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.48px;
  color: #545353;
  margin-top: 20px;
}

.heading .desc {
  margin-top: 0;
}

.heading {
  margin-bottom: 50px;
}

.our-services {
  background-color: #F7FAFC;
  position: relative;
  z-index: 2;
  overflow-x: hidden;
}
.our-services::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 563px;
  height: 463px;
  transform: rotate(45deg);
  background-image: url(../images/services-shape.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  z-index: -1;
}

.our-services-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.our-services-wrap .single-services {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #DCDCDC;
  padding: 2.5rem;
  text-align: center;
  transition: all 0.3s;
}
.our-services-wrap .single-services:hover {
  box-shadow: 1px 0px 30px 10px rgba(4, 163, 150, 0.15);
  transition: all 0.3s;
}
.our-services-wrap .single-services .icon svg {
  width: 40px;
  height: 40px;
}
.our-services-wrap .desc {
  margin-top: 10px;
}
.our-services-wrap .icon {
  border-radius: 100%;
  display: inline-flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.get-in-touch {
  position: relative;
  z-index: 2;
}
.get-in-touch::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 530px;
  height: 530px;
  background-image: url(../images/contact-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
  z-index: -1;
}

.get-in-touch-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.get-in-touch-wrap .contact-section {
  background-color: #F7FAFC;
  padding: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.get-in-touch-wrap .contact-section .contact-section-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.get-in-touch-wrap .contact-section .contact-single {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.get-in-touch-wrap .contact-section .contact-single .contact-title {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  color: #545353;
}
.get-in-touch-wrap .contact-section .contact-single .icon-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.get-in-touch-wrap .contact-section .contact-single .icon-wrap .location, .get-in-touch-wrap .contact-section .contact-single .icon-wrap a {
  font-size: 20px;
  color: #545353;
  font-weight: 400;
  letter-spacing: 0.6px;
}
.get-in-touch-wrap .contact-section .contact-single .icon-wrap a:hover {
  color: #04A396;
}
.get-in-touch-wrap .contact-section .contact-single .icon-wrap svg {
  width: 25px;
  height: 25px;
}
.get-in-touch-wrap .map-section img {
  width: 100%;
}

.btn-wrap {
  text-align: right;
}

.footer {
  background: rgba(12, 9, 13, 0.88);
  color: #fff;
}
.footer .footer-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 30px;
}
.footer .footer-desc {
  margin-top: 1.5rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.45px;
}
.footer .social-media {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 1.5rem;
}
.footer .social-media a {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.footer .social-media a:hover {
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
}
.footer .footer-menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .footer-menu a {
  color: #fff;
  font-size: 1rem;
}
.footer .footer-menu a:hover {
  color: #04A396;
}
.footer .contact-details {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .contact-details .contact-details-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .contact-details .contact-details-wrap span {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
}
.footer .contact-details .contact-details-wrap a {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.4px;
}
.footer .contact-details .contact-details-wrap a:hover {
  color: #04A396;
}
.footer .contact-details .contact-details-wrap .icon-wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.copyright {
  text-align: center;
  margin-top: 4rem;
}
.copyright span {
  display: inline-block;
  padding: 1.5rem 0;
  border-top: 0.5px solid rgba(220, 220, 220, 0.3294117647);
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.65px;
}

@media only screen and (max-width: 1200px) {
  .about-us-wrap .about-content {
    padding-left: 20%;
  }
}
@media only screen and (max-width: 992px) {
  .pdy-6 {
    padding: 4rem 0;
  }
  .about-us-wrap .about-content {
    padding-left: 10%;
  }
  .about-us-wrap {
    grid-template-columns: 1fr 1fr;
  }
  .our-services-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .pdy-6 {
    padding: 3rem 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
  }
  .heading {
    margin-bottom: 30px;
  }
  .navbar-wrapper {
    height: 70px;
  }
  .navbar .logo img {
    width: 110px;
  }
  .home-banner-wrap .banner-content {
    left: 0;
  }
  .get-in-touch-wrap,
  .about-us-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-us-wrap .image img {
    width: 100%;
  }
  .about-us-wrap .about-content {
    padding-left: 0;
  }
  .about-us-wrap,
  .get-in-touch-wrap,
  .our-services-wrap {
    gap: 20px;
  }
  .our-services-wrap .single-services {
    padding: 2rem;
  }
  .our-services-wrap .single-services .icon svg {
    width: 30px;
    height: 30px;
  }
  .get-in-touch-wrap .form-section {
    padding: 20px;
  }
  .get-in-touch-wrap .contact-section {
    align-items: start;
  }
  .footer .footer-wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .copyright {
    margin-top: 3rem;
  }
  .copyright span {
    padding: 1rem 0;
  }
  .footer {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 575px) {
  .pdy-6 {
    padding: 2rem 0;
  }
  .footer {
    padding-bottom: 0;
  }
  .our-services-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-services-wrap .single-services {
    padding: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */